{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"plugins": [
	  "@typescript-eslint"
	],
	"extends": [
	  "plugin:@typescript-eslint/eslint-recommended",
	  "plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": "error",
		"max-len": [2, 200, 8],
		"no-console": "off"
	}
}